
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor{
    padding: 0 1.7rem;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
}

.lateralIzquierdo{
    width: 20rem;
    background-color: rgb(255,212,58);
}

.imagenPerfil{
    padding-top: 1rem;
    border-radius: 100%;
}

.tituloSecundario{
    border-bottom: 5px solid black;
    margin: 1.7rem 0;
}

.lateralDerecho{
    width: 80%;
    padding-left: 1rem;
}

.contenedorNombre{
    background-color: black;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    color: white;
    font-size: 40px;
    padding-left: 1.2rem;
    margin-top:  4px solid brown;
}

.textoExperiencia{
    color: gray;
}

.textoEducacion{
    font-weight: bold;
}

.textoEspecifico{
    font-weight: lighter;
    color: grey;
}

.pelicula
{
    list-style-type: none;
}

.contenedorPelicula{
    display: flex;
    justify-content: space-around;
}

.tituloPelicula{
    font-weight: 500;
    font-size: 24px;
}

.imagenPelicula{
    width: 16rem;
    height: 20rem;
}